<div [formGroup]="fGroup" class="mat-component">
    <mat-label>{{ field.fieldLabel }}</mat-label>
    <mat-radio-group 
        [name]="field.controlName" 
        [value]="field.initialValue"
      >
      <!-- <mat-radio-button
        color="primary"
        *ngFor="let option of field.options"
        [formControlName]="field.controlName"
        [value]="option.optionKey"
        ngDefaultControl
      >
        "{{ option.optionValue }}"
        
      </mat-radio-button> -->

      @for (option of field.options; track $index) {
        <mat-radio-button
          color="primary"
          [formControlName]="field.controlName"
          [value]="option.optionKey"
          ngDefaultControl
        >
          "{{ option.optionValue }}"
        </mat-radio-button>
      }

    </mat-radio-group>
  </div>
