<div class="content-area1">
  <h1>The Standalone Dynamic Form Demo project</h1>

  <h2>Abstract</h2>
  <p>
    This is a simple yet distinguished <b>Angular 17</b> (17.2) project of mine,
    for a dynamic form implementation using dynamic components.
    <br />
    <br />
    The form fields/controls metadata are provided as an array of metadata
    objects. This array is provided dynamically via the instantiation of a
    respective domain service. The domain service is instantiated via a
    <u>factory service provider</u>
    class. The form fields array can be kept updated dynamically with initial
    values obtained as a row set from the backend.
  </p>

  <p>
    The dynamic form is a reactive one using independent standalone components
    that are dynamically loaded at runtime via a helper directive. The dynamic
    form is also built as a typed form, and the type of each control is obtained
    from the type of the value of a property of a metadata object.
  </p>

  <p>
    Furthermore, the form, as well as the candidate dynamic components are based
    on the Material library, but this can be easily changed, by changing even,
    just the respective templates.
  </p>

  <h2>Angular 17</h2>

  <div class="txtboximg1">
    <img id="i1" src="assets/images/Anguls17b.gif" alt="Angular Logo" />
    <span>
      The project is based on <b>Angular</b> version <b>17.2</b> with Angular
      <b>Material</b>
      support. This means that it uses:
    </span>
  </div>

  <ul>
    <li><strong>standalone</strong> components (no modules),</li>
    <li>
      <strong>signals</strong> (for non-backend async operations such as those
      based on HttpClient), as well as for some cases that replace the
      &commat;Input decorator, and
    </li>
    <li>
      new <strong>&commat;-based flow</strong> control syntax in component
      templates
    </li>
  </ul>

  <p>
    Read more at my post in Medium
    <a
      href="https://medium.com/@zzpzaf.se/a-standalone-dynamic-form-an-angular-17-implementation-f708dc02ad8d"
      target="_blank"
      >here</a
    >.
  </p>
</div>
