
.mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left:18px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: .5cap;
  }