
<mat-card class="mat-card">

    <mat-card-content>

        <mat-toolbar class="mat-card-title" color="primary">
            {{fornCardTitle}}
        </mat-toolbar>  

        <form [formGroup]="demoFormGroup" (ngSubmit)="onFormSubmit($event)">

            <mat-form-field class="full-width">
                <mat-label>{{input1Label}}</mat-label>
                <input matInput placeholder={{input1Placeholder}} formControlName={{input1ControlNane}} >
            </mat-form-field>

            <mat-card-footer>
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="accent" > {{submitButtomText}} </button>
                </mat-card-actions>
            </mat-card-footer>

        </form>
    
    </mat-card-content>

</mat-card>
