
  .mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left:18px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: .5cap;
  }


  mat-card-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    gap: 25px;
    justify-content: center;
}


  mat-form-field {
    display: flex;
    
}
  mat-card-footer {
    display: flex;
    justify-content: flex-end;
}

.mat-component, .mat-dtpicker {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content:flex-start ;
}


.mat-component {
  margin: 2em auto;
}