<mat-card class="mat-card">

  <mat-card-content>
    <mat-toolbar class="mat-card-title" color="primary">
      {{ fornCardTitle }}
    </mat-toolbar>

    <form [formGroup]="dynFormGroup" (ngSubmit)="onFormSubmit($event)">
      @for (field of formFields; track $index) {
      <ng-container
        applyFormControl
        [formField]="field"
        [formGroup]="dynFormGroup"
      >
      </ng-container>

        <!--  -->
        @if ((dynFormGroup.controls[field['controlName']].touched ||
        isFormSubmitted) && dynFormGroup.controls[field['controlName']].errors) {
          @for (validation of field.validators; track $index) {
              @if (dynFormGroup.controls[field['controlName']].errors![validation.validatorName]) {
                  <mat-error style="font-size: x-small; margin-top: .001px;">
                    {{ validation.validatorErrorMessage }} 
                  </mat-error>
              }
          }
        }
        <!--  -->
      }

    </form>
  </mat-card-content>
  
</mat-card>
