
<!-- <div [formGroup]="fGroup">
    <p></p>
    <div style="text-align: left;">
      <br />
      <label>{{ field.fieldLabel }}</label>
      <input
        [formControlName]="field.controlName"
        [id]="field.controlName"
        [type]="field.inputType"
      />
    </div>
</div> -->

<mat-form-field>
    <div [formGroup]="fGroup" class="mat-dtpicker">
      <mat-label>{{ field.fieldLabel }}</mat-label>
      <mtx-datetimepicker
      #datetimePicker
      [type]="mtxType"
      
      >
    </mtx-datetimepicker>

    <input
      matInput
      [mtxDatetimepicker]="datetimePicker"
      formControlName="{{ field.controlName }}"
    />

    <mtx-datetimepicker-toggle
      [for]="datetimePicker"
      matSuffix
      >
    </mtx-datetimepicker-toggle>

    </div>
</mat-form-field>