

<mat-toolbar color="primary">
    
    <mat-toolbar-row >  
         
          <a class="toolbar-row" mat-button routerLink='/about'>
            <mat-icon class="my-icon">home</mat-icon>
            <span class="toolbar-spacer1">{{appHeaderTitle}}</span>
            
          </a>
          <span class="toolbar-spacer1"></span>
          <div class="font-size3">{{myInfo}}</div>
  
    </mat-toolbar-row>

    <mat-toolbar-row class='toolbar-row2'>  
         
      <a class="row_button" mat-button routerLink='/items'>
        <!-- <mat-icon class="my-icon">home</mat-icon> -->
        <span class="toolbar-spacer1">{{txtButton1}}</span>
      </a>

      <!-- <span class="toolbar-spacer1"></span> -->

      <a class="row_button" mat-button routerLink='/categories'>
        <!-- <mat-icon class="my-icon">home</mat-icon> -->
        <span class="toolbar-spacer1">{{txtButton2}}</span>
      </a>

       <span class="toolbar-spacer1"></span>

      <a class="row_button" mat-button routerLink='/about'>
        <!-- <mat-icon class="my-icon">home</mat-icon> -->
        <span class="toolbar-spacer1">About</span>
      </a>

</mat-toolbar-row>

</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
