

<mat-toolbar color="primary">
    
    <mat-toolbar-row >  
         
          <a class="toolbar-row" mat-button routerLink='/about'>
            <mat-icon class="my-icon">home</mat-icon>
            <span class="flex-spacer1">{{appHeaderTitle}}</span>
            
          </a>
          <span class="flex-spacer1"></span>
          <div class="font-size3">{{myInfo}}</div>
  
    </mat-toolbar-row>

    <mat-toolbar-row >  
      
      <mat-button-toggle-group name="toolbar2">
        @for (buton of dboButtons; track $index ) {
          <mat-button-toggle class="row_button" routerLink='/{{buton.bLink}}' value="{{buton.bLink}}" >
            {{buton.btext}}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>

      <span class="flex-spacer1"></span>

      <a class="row_button" mat-button routerLink='/about'>
        <span class="flex-spacer1">About</span>
      </a>

    </mat-toolbar-row>

</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
