

.flex-spacer1 {
    flex: 1 1 auto;
} 
.toolbar-row {
    display:flex;
    flex-direction: row;
    align-items: center; 
    flex: .0125 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: calc(1.2 * 16px);

} 

mat-button-toggle-group {
    height: 32px;
    display:flex;
    flex-direction: row;
    align-items: center; 
    justify-content:flex-start;  
    gap: 20px;
    border-style:none; 
}

mat-button-toggle {
    border-radius: 1.4cap; 
}

.row_button {
    display:flex;
    background-color:aquamarine ;
    color:blue !important; 
    flex-direction: row;
    align-items:center;
    justify-content: center;
} 

.my-icon {
    padding-right: 3px;
    margin-bottom: .5px;
    font-size: 22px;
}

.font-size3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(0.5 * 16px);
}